.env
arc-agi/training
**/__pycache__/
lib/__pycache__/
graph-trav/datasets/
graph-trav/garbage-land/
graph-trav/runs/
graph-trav/wandb/
temp_problems
venv/
*.json 
*.py
*.png
CLAUDE.md
commands.txt
add_repo_info.md
compare_runs_output/
consolidated_results/
contrastive_analysis/
data/
error*
error*/
final_results/
new_results/
notes*
real_results/
read_file.md
recompute_performance_task.md
*.sh
results/
saved_repos.txt
data_consolidation_task.md
exploratory_analysis/
new_final_results/
out*
final_plots/
